<P>STATEMENT OF ACCOUNT</P>
<!-- <div class="student-account"> -->

  <div class="search-bar">
    <input type="text" id="search-input" placeholder="Search..." [(ngModel)]="keyword">
    <!-- <button type="submit">Search</button> -->
  </div>  

<div class="table-container">
    <table class="styled-table">
        <thead>
          <tr>
            <!-- <th>LRN</th> -->
            <th>Name</th>
            <!-- <th>Grade Level</th> -->
          </tr>
        </thead>
        <tbody id="enrollee-table-body">
          @for(c of students | searchFilter: keyword; track c.LRN) {
            <tr (click)="getLRN(c.LRN)">
              <!-- <td>{{ c.LRN }}</td> -->
              <td class="text-primary text-hover" >{{ c.lname }}, {{ c.fname }} {{ c.mname }} {{ c.suffix }}</td>
              <!-- <td>{{ c.year_level }}</td> -->
            </tr>
          }
        </tbody>
      </table>
</div>
<!-- </div> -->
