<!-- <P>STATEMENT OF ACCOUNT</P> -->
<p class="pending-text">STATEMENT OF ACCOUNT</p>
<!-- <div class="student-account"> -->

  <div class="search-bar">
    <input type="text" id="search-input" placeholder="Search..." [(ngModel)]="keyword">
    <!-- <button type="submit">Search</button> -->
  </div>  

<div class="table-container">
    <table class="styled-table">
        <thead>
          <tr>
            <!-- <th>LRN</th> -->
            <th>Name</th>
            <th></th>
          </tr>
        </thead>
        <tbody id="enrollee-table-body">
          @for(c of students | searchFilter: keyword; track c.LRN) {
            <tr>
              <!-- <td>{{ c.LRN }}</td> -->
              <td class="">{{ c.lname }}, {{ c.fname }} {{ c.mname }} {{ c.suffix }}</td>
              <td class="icon-container">
                <i class="fa-solid fa-upload" (click)="Modal(c.LRN)"></i>
                <i class="fa-solid fa-eye" (click)="OpModal(c.LRN)"></i>
              </td>
              
              <!-- <td><i class="fa-solid fa-print" (click)="OpenModal(c.LRN)"></i></td> -->
            </tr>
          }
        </tbody>
      </table>
</div>
<!-- </div> -->
