<section>
  <div class="row align-items-center">
    <div class="col d-flex align-items-center">
        <p class="pending-text">
          TUITION FEES
          <i class="fa-solid fa-circle-plus" [routerLink]="['/main-page/inserts/ins/inser']" style="cursor: pointer; color: blue;"></i>
        </p>
    </div>
    <div class="col d-flex justify-content-end">
      <!-- <div class="search-bar">
        <input type="text" id="search-input" placeholder="Search..." [(ngModel)]="keyword">
      </div>  -->
        <mat-form-field>
            <mat-label>Search</mat-label>
            <input [(ngModel)]="keyword" matInput placeholder="Search by name..." />
        </mat-form-field>
    </div>
  </div>

  
  <div class="table-container">
    <table class="styled-table">
      <thead>
        <tr>
          <!-- <th>feeid</th> -->
          <th>Grade Level</th>
          <th>Tuition Fee</th>
          <th>General</th>
          <th>ESC</th>
          <th>Subsidy</th>
          <th>Required Downpayment</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <!-- Loop through tuition fees and display them -->
        @for(c of students | searchFilter: keyword; track c.fee_id) {
          <tr>
            <!-- <td>{{c.fee_id}}</td> -->
            <td>{{ c.grade_level }}</td>
            <td>{{ c.tuition | currency: 'PHP':'symbol' }}</td>
            <td>{{ c.general | currency: 'PHP':'symbol' }}</td>
            <td>{{ c.esc | currency: 'PHP':'symbol' }}</td>
            <td>{{ c.subsidy }}</td>
            <td>{{ c.req_Downpayment | currency: 'PHP':'symbol' }}</td>

            <!-- Action buttons for Update and Delete -->
            <td>
              <i class="fa-solid fa-pen-to-square" (click)="Modal(c)"></i>
            </td>  
          </tr>
        }
      </tbody>
    </table>
  </div>
</section>
