<section>
  <!-- Heading container using flexbox -->
  <div class="heading-container">
    <div class="heading-left">
      <p>TUITION FEES</p>
      <!-- Plus icon positioned beside the heading -->
      <!-- <i class="fa-solid fa-circle-plus" [routerLink]="['/main-page/inserts/ins/inser']"></i> -->
    </div>
    <div class="button-container">
      <!-- Any other buttons can go here -->
    </div>
  </div>

  <section class="search-bar">
    <input type="text" id="search-input" placeholder="Search by Grade Level..." [(ngModel)]="keyword">
  </section>
  
  <div class="table-container">
    <table class="styled-table">
      <thead>
        <tr>
          <!-- <th>feeid</th> -->
          <th>Grade Level</th>
          <th>Tuition Fee</th>
          <th>General</th>
          <th>ESC</th>
          <th>Subsidy</th>
          <th>Required Downpayment</th>
          <!-- <th>Actions</th> -->
        </tr>
      </thead>
      <tbody>
        <!-- Loop through tuition fees and display them -->
        @for(c of students | searchFilter: keyword; track c.fee_id) {
          <tr>
            <!-- <td>{{c.fee_id}}</td> -->
            <td>{{ c.grade_level }}</td>
            <td>{{ c.tuition | currency: 'PHP':'symbol' }}</td>
            <td>{{ c.general | currency: 'PHP':'symbol' }}</td>
            <td>{{ c.esc | currency: 'PHP':'symbol' }}</td>
            <td>{{ c.subsidy }}</td>
            <td>{{ c.req_Downpayment | currency: 'PHP':'symbol' }}</td>

            <!-- Action buttons for Update and Delete -->
            <!-- <td>
              <i class="fa-solid fa-pen-to-square" (click)="Modal(c)"></i>
            </td>   -->
          </tr>
        }
      </tbody>
    </table>
  </div>
</section>
