<div class="input-container">
    <h2 class="form-header">Input Payment</h2>

    <form class="input-form" [formGroup]="inputAmount" (submit)="saveFunct()">
        <div class="image-container">
            <img src="{{students.proof_payment}}" alt="Payment Proof" class="proof-image">
        </div>

        <div class="input-fields">
            <mat-label>JRNL#:</mat-label>
            <input matInput placeholder="Enter JRNL#:" type="text" formControlName="OR_number" required>

            <mat-label>Description:</mat-label>
            <input matInput placeholder="Enter Description" type="text" formControlName="description" required>

            <mat-label>Total Amount Paid:</mat-label>
            <input matInput placeholder="Enter cash amount" type="number" formControlName="amount_paid" required>
        </div>

        <div class="button-container">
            <button class="btn btn-primary" type="submit" >Submit</button>
        </div>
    </form>
</div>
