<div class="receipt-container" id="print-section">
    <div>
        <h2>Statement of Account</h2>
    </div>

    <p><strong>Statement of Account as of:</strong> {{currentDate}}</p>
    <p><strong>Account Name:</strong> {{name}}</p>
    <p><strong>LRN:</strong> {{LRNs}}</p>

    <div class="button-container">
        <label>
            <input type="file" class="form-control" (change)="onFileSelected($event)" id="fileUpload" name="fileInput" #fileInput>
            <!-- <input type="file" class="form-control" (change)="onFileSelected($event)" id="fileUpload" name="fileInput" #fileInput multiple> -->
            <!-- <input type="file" class="form-control" (change)="onFileSelected($event)" multiple /> -->

            <div class="button-actions">
                <!-- <button onclick="window.history.back();" class="btn btn-back">Back</button> -->
                <button class="btn btn-upload" (click)="uploadFiles()">Upload</button>
            </div>
        </label>
    </div>
</div>

