@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap'); /* Importing the custom font with weight 300 */

/* Global font styling */
* {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.student-account {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border: 1px solid #ddd;
  font-family: "Poppins", sans-serif;
  max-width: 1200px; /* Max width for larger screens */
  margin: auto; /* Centering the container */
}

.button-container {
  display: flex; /* Use flexbox for alignment */
  align-items: center; /* Center items vertically */
  font-family: "Poppins", sans-serif;
  margin-bottom: 10px; /* Reduced margin-bottom for less space between the button section and search bar */
}

.button-container button {
  background-color: #007bff;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 3px;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
  margin-right: 10px; /* Space between buttons */
}

.button-container button:hover {
  background-color: #0056b3; /* Darker shade on hover */
}

.button-filter-container {
  display: flex; /* Using flexbox to align items horizontally */
  justify-content: space-between; /* Align elements to the start and end */
  align-items: center; /* Center items vertically */
  width: auto;
  font-family: "Poppins", sans-serif;
  position: relative;
}

.filter-field {
  margin-left: 15px; /* Space between buttons and filter */
  width: 130px; /* Ensure it adapts to content */
  min-width: 50px; /* Set a minimum width to match buttons */
  height: 65px; /* Match height of buttons */
}

.mat-form-field {
  flex-grow: 1; /* Allow the filter field to grow */
}

/* Updated search bar styles */
.search-bar {
  display: flex;
  align-items: center;
  border: 1px solid #ddd;
  font-family: "Poppins", sans-serif;
  padding: 6px;
  border-radius: 3px;
  max-width: 250px;
}

.search-bar input[type="text"] {
  padding: 6px;
  font-family: "Poppins", sans-serif;
  border: none;
  box-sizing: border-box;
  width: 200px; /* Adjust the width as necessary */
}

.search-bar button {
  background-color: #007bff;
  color: white;
  padding: 6px 12px;
  font-family: "Poppins", sans-serif;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

/* Updated table styles */
table {
  width: 100%;
  border-collapse: collapse;
  background-color: #fff;
  border: 1px solid #ddd;
  font-family: "Poppins", sans-serif;
  border-radius: 3px;
  overflow: hidden; /* Prevents border-radius from being cut off */
  margin-top: 0; /* Reduced margin-top for the table */
  table-layout: fixed; /* Fixed table layout to ensure uniform column widths */
}

th {
  background-color: #255a92;
  color: #ffffff;
  padding: 12px 15px;
  text-align: center;
  font-family: "Poppins", sans-serif;
  border-bottom: 2px solid #255a92;
  text-transform: uppercase; /* Make the text uppercase */
  letter-spacing: 1px; /* Add space between letters */
  font-size: 14px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2); /* Subtle shadow */
}

td {
  padding: 12px 15px;
  font-family: "Poppins", sans-serif;
  text-align: center;
  border-bottom: 1px solid #ddd;
}

tbody {
  display: table-row-group; /* Use default display for tbody */
  max-height: none; /* Remove max height to avoid scrolling */
  overflow-y: visible; /* Prevent overflow */
  font-family: "Poppins", sans-serif;
  width: 100%;
}

tbody::-webkit-scrollbar {
  width: 0px; /* Hide scrollbar */
  height: 0px; /* Hide horizontal scrollbar */
}

tbody::-webkit-scrollbar-thumb {
  background-color: transparent; /* Transparent thumb */
}

tbody::-webkit-scrollbar-track {
  background-color: transparent; /* Transparent track */
}

tr {
  display: table; /* Make rows behave like table rows */
  width: 100%;
  font-family: "Poppins", sans-serif;
  table-layout: fixed; /* Prevents columns from resizing */
  border-bottom: 1px solid #ddd; /* Add border to rows */
}

tr:hover {
  background-color: #f5f5f5; /* Highlight on hover */
}

/* Icon Styles */
.fa-eye, .fa-thumbs-up {
  font-size: 18px;
  color: #007bff;
  cursor: pointer;
  margin-right: 10px;
}

.styled-table {
  width: 100%;
  border-collapse: collapse;
  margin: 25px 0;
  font-family: "Poppins", sans-serif;
  font-size: 0.9em;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  overflow: hidden;
}

.styled-table th,
.styled-table td {
  padding: 12px 15px;
  text-align: center;
}

.styled-table thead tr {
  background-color: #009879;
  color: #ffffff;
  text-align: left;
  font-weight: bold;
}

.styled-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
  border-bottom: 2px solid #ddd;
}

.styled-table tbody tr:hover {
  background-color: #f1f1f1;
  cursor: pointer;
}

.styled-table tbody td i {
  font-size: 18px;
  color: #009879;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .styled-table thead {
    display: none;
  }

  .styled-table,
  .styled-table tbody,
  .styled-table tr,
  .styled-table td {
    display: block;
    width: 100%;
  }

  .styled-table tr {
    margin-bottom: 15px;
  }

  .styled-table td {
    text-align: right;
    padding-left: 50%;
    position: relative;
  }

  .styled-table td::before {
    content: attr(data-label);
    position: absolute;
    left: 0;
    width: 50%;
    padding-left: 15px;
    font-weight: bold;
    font-family: "Poppins", sans-serif;
    text-align: left;
  }
}

p {
  margin-bottom: 0; /* Reduced margin to bring section closer */
}

section {
  margin-top: 0; /* Reduced margin to reduce the space */
  margin-bottom: 0;
  font-family: "Poppins", sans-serif;
  display: table;
}

.example-label {
  display: table-cell;
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  margin-left: 8px;
  min-width: 120px;
}

.example-button-row {
  display: table-cell;
  max-width: 600px;
}

.example-button-row .mat-mdc-button-base {
  margin: 8px 8px 8px 0;
}

.example-flex-container {
  display: flex;
  font-family: "Poppins", sans-serif;
  justify-content: space-between;
  flex-wrap: wrap;
}

.example-button-container {
  display: flex;
  font-family: "Poppins", sans-serif;
  justify-content: center;
  width: 120px;
  margin-bottom: 5px;
}

.pending-button {
  background-color: #ddb028; /* Yellow for Pending */
  color: white;
  padding: 12px 20px; /* Increased padding for more space */
  border: none;
  border-radius: 8px; /* Increased border-radius for more rounded corners */
  cursor: pointer;
  font-size: 14px; /* Adjust font size if needed */
  transition: background-color 0.3s; /* Smooth transition for hover effect */
  margin-right: 20px; /* Reduced margin-right for less space between buttons */
  font-family: "Poppins", sans-serif;
  margin-bottom: 0;
}

.pending-button:hover {
  background-color: #e6b41e; /* Darker yellow on hover */
}

.approved-button {
  background-color: #28a745; /* Green for Approved */
  color: white;
  padding: 12px 20px; /* Increased padding for more space */
  border: none;
  border-radius: 8px; /* Increased border-radius for more rounded corners */
  font-family: "Poppins", sans-serif;
  cursor: pointer;
  font-size: 14px; /* Adjust font size if needed */
  transition: background-color 0.3s; /* Smooth transition for hover effect */
  margin-bottom: 0;
}

.approved-button:hover {
  background-color: #2ac44e; /* Darker green on hover */
}

.approved-text {
  font-size: 30px; /* Larger font size for better visibility */
  color: #030303; /* Dark color for the text */
  margin-right: 20px; /* Space between text and buttons */
  align-self: center; /* Vertically center the text */
  padding-top: 20px; /* Padding to create space above */
  padding-bottom: 20px; /* Padding for space below */
  text-transform: uppercase; /* Make text uppercase for impact */
  letter-spacing: 3px; /* Spacing between letters for a sleek look */
  font-family: "Poppins", sans-serif;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
}
