<p class="approved-text">APPROVED ENROLLEES</p>

<div class="row align-items-center">
    <div class="col d-flex align-items-center">
        <div class="example-button-row">
            <button class="pending-button" [routerLink]="['/main-page/enrollees/homepage/pending']">PENDING</button>
            <button class="approved-button" [routerLink]="['/main-page/enrollees/homepage/approve']">APPROVED</button>
        </div>
    </div>
    
    <div class="col d-flex justify-content-end">
        <mat-form-field class="me-3">
            <mat-label>Grade Level</mat-label>
            <mat-select [(ngModel)]="selectedClass">
                @for (class of classes; track class) {
                <mat-option [value]="class">{{class}}</mat-option>
                }
            </mat-select>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Search</mat-label>
            <input [(ngModel)]="keyword" matInput placeholder="Search name..." />
        </mat-form-field>
    </div>
  </div>

<!-- <section class="button-filter-container">
  <section class="button-filter-section">
    <div class="example-button-row">
        <button class="pending-button" [routerLink]="['/main-page/enrollees/homepage/pending']">PENDING</button>
        <button class="approved-button" [routerLink]="['/main-page/enrollees/homepage/approve']">APPROVED</button>
    </div>

    
  </section>

 <div class="search-bar">
    <input type="text" id="search-input" placeholder="Search..." [(ngModel)]="keyword">
  </div> 
</section> -->

 <!-- Table for displaying approved enrollments  -->
<div class="table-container">
    <table class="styled-table">
        <thead>
            <tr>
                <th>LRN</th>
                <th class="col-md-2">NAME</th>
                <th>GENDER</th>
                <th>CONTACT #</th>
                <th>GRADE LEVEL</th>
                <th>STRAND</th>
                <th class="col-md-2">ADDRESS</th>
                <th>APPROVAL DATE</th>
            </tr>
        </thead>
        <tbody>
            @for(c of getFilteredEnrollments() | searchFilter: keyword; track c.LRN) {
            <tr>
                <td>{{ c.LRN }}</td>
                <td class="col-md-2 text-start text-hover">{{ c.lname}}, {{ c.fname}} {{ c.mname}} {{ c.suffix}}</td>
                <!-- <td class="col-md-2 text-primary text-start text-hover" (click)="OpenModal(c.LRN)">{{ c.lname}}, {{ c.fname}} {{ c.mname}} {{ c.suffix}}</td> -->
                <td class="">{{ c.gender }}</td>
                <td class="">{{ c.contact_no }}</td>
                <td>{{ c.grade_level }}</td>
                <td>{{ c.strand }}</td>
                <td class=" col-md-2 text-start">{{ c.address }}</td>
                <td class="">{{ c.payment_approval | date}}</td>
            </tr>
            }
        </tbody>
    </table>
</div>
