<!-- <p>view-messages works!</p> -->
<div class="container-fluid h-100">
    <div class="row h-100 messenger-container">
        <!-- Sidebar -->
        <div class="col-12 col-md-3 col-lg-2 p-0 sidebar container">
            <div class="container mb-2 d-flex justify-content-between align-items-center">
                <p class="h4 m-0">Chats</p>
                <button style="border-radius: 50%; border: none; outline: none; background-color: rgb(236, 233, 233);">
                    <i class="fa-solid fa-pen-to-square" style="color: black;"></i>
                </button>
            </div>
            <div class="container mb-3 mt-3">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search chats" aria-label="Search chats" style="border-radius: 20px;">
                </div>
            </div>


        <!-- User List -->
            <div class="user-list">
                @for(c of getFilteredEnrollments() | searchFilter: keyword; track c.LRN) {
                    <div class="user-list-item">
                        <img src="path/to/image/{{ c.LRN }}.png" class="rounded-circle me-1" width="40" height="40">
                        <span>
                            <a [routerLink]="['/desired-route', c.LRN]" class="text-decoration-none text-dark" >
                                {{ c.lname }}, {{ c.fname }} {{ c.mname }} {{ c.suffix }}
                            </a>
                        </span>
                    </div>
                }
            </div>



        </div>

        <!-- Main Content -->
        <div class="col-12 col-md-9 col-lg-10 p-0 main-content">
            <!-- Chat Header -->
            <div class="chat-header d-flex align-items-center">
                <img src="super.png" alt="User" class="rounded-circle" width="40" height="40">
                <span class="ms-2" style="font-weight:500;">Mario "Miko" Ofiaza III</span>
            </div>

            <!-- Chat Area -->
            <div class="chat-area">
                <!-- Chat Area -->
                <!-- @for(c of getFilteredEnrollments() | searchFilter: keyword; track c.LRN) { -->
                <div class="chat-area">
                    <!-- First Conversation -->
                    <div class="message received">
                        <img src="super.png" alt="User" class="rounded-circle" width="40" height="40">
                        <div class="message-content ms-2">wala</div>
                    </div>
                    <div class="message sent">
                        <div class="message-content">wala</div>
                    </div>
                    <div class="message received">
                        <img src="super.png" alt="User" class="rounded-circle" width="40" height="40">
                        <div class="message-content ms-2">Bakit?</div>
                    </div>
                    <div class="message received">
                        <img src="super.png" alt="User" class="rounded-circle" width="40" height="40">
                        <div class="message-content ms-2">HAHAHAHHA</div>
                    </div>
                    <div class="message sent">
                        <div class="message-content">Wala e</div>
                    </div>

                    <!-- Second Conversation -->
                    <div class="message received">
                        <img src="super.png" alt="User" class="rounded-circle" width="40" height="40">
                        <div class="message-content ms-2">Hey, pupunta ka ba sa event?</div>
                    </div>
                    <div class="message sent">
                        <div class="message-content">Oo, andito ako!</div>
                    </div>
                    <div class="message received">
                        <img src="super.png" alt="User" class="rounded-circle" width="40" height="40">
                        <div class="message-content ms-2">Ayos! Anong oras ka darating?</div>
                    </div>
                    <div class="message sent">
                        <div class="message-content">Mga 6 PM.</div>
                    </div>
                    <div class="message received">
                        <img src="super.png" alt="User" class="rounded-circle" width="40" height="40">
                        <div class="message-content ms-2">Sige, kita kits!</div>
                    </div>
                </div>
            <!-- } -->
            </div>

            <!-- Chat Footer -->
            <div class="chat-footer d-flex">
                <input type="text" class="form-control" placeholder="Type a message">
                <button class="btn btn-primary ml-2 ms-2">
                    <span class="material-icons">send</span>
                </button>
            </div>
        </div>
    </div>
</div>