<!-- <div class="chat-container">
    <h2>Chat Box</h2>
    <div class="messages" *ngFor="let msg of messages">
      <strong>{{ msg.message_sender }}:</strong> {{ msg.message }}
      <em>{{ msg.message_date | date: 'short' }}</em>
    </div>
    
    <form [formGroup]="saveform" (submit)="sendMessage(); $event.preventDefault()">
      <input type="text" formControlName="message_sender" placeholder="Sender ID" required>
      <input type="text" formControlName="message_reciever" placeholder="Receiver ID" required>
      <textarea formControlName="message" placeholder="Type your message..." required></textarea>
      <button type="submit">Send</button>
    </form>
</div> -->
<!-- <p>view-messages works!</p> -->
<div class="container-fluid h-100">
    <div class="row h-100 messenger-container">
        <!-- Sidebar -->
        <div class="col-12 col-md-3 col-lg-2 p-0 sidebar container">
            <div class="container mb-2 d-flex justify-content-between align-items-center">
                <p class="h4 m-0">Chats</p>
                <button style="border-radius: 50%; border: none; outline: none; background-color: rgb(236, 233, 233);">
                    <i class="fa-solid fa-pen-to-square" style="color: black;"></i>
                </button>
            </div>
            <div class="container mb-3 mt-3">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search chats" aria-label="Search chats" style="border-radius: 20px;">
                </div>
            </div>


        <!-- User List -->
            <div class="user-list">
                @for(c of students; track c.LRN) {
                    <div class="user-list-item">
                        <img src="super.png" alt="User" class="rounded-circle" width="40" height="40">
                        <span>
                            <a [routerLink]="['/desired-route', c.LRN]" class="text-decoration-none text-dark" >
                                {{ c.lname }}, {{ c.fname }} {{ c.mname }} {{ c.suffix }}
                            </a>
                        </span>
                    </div>
                }
            </div>



        </div>

        <!-- Main Content -->
        <div class="col-12 col-md-9 col-lg-10 p-0 main-content">
            <!-- Chat Header -->
            <div class="chat-header d-flex align-items-center">
                <img src="super.png" alt="User" class="rounded-circle" width="40" height="40">
                <span class="ms-2" style="font-weight:500;">Mario "Miko" Ofiaza III</span>
            </div>
        
            <!-- Chat Area -->
            <!-- <div class="chat-area">
                <div *ngFor="let msg of messages" class="message" >
                    <img src="super.png" alt="User" class="rounded-circle" width="40" height="40" >
                    <div class="message-content ms-2">{{ msg.message }}</div>
                </div>
            </div> -->
            <!-- @for(c of messages; track c.LRN) { -->
            <div class="chat-area">
                <!-- First Conversation -->
                <div *ngFor="let c of messages">
                    <div class="message received" *ngIf="c.message && c.message_reciever">
                        <img src="super.png" alt="User" class="rounded-circle" width="40" height="40">
                        <div class="message-content ms-2">{{ c.message }}</div>
                    </div>
                    <div class="message sent" *ngIf="c.message && c.message_sender">
                        <!-- <img src="super.png" alt="User" class="rounded-circle" width="40" height="40">   -->
                        <div class="message-content">{{ c.message }}</div>
                    </div>
                </div>
            </div>
            <!-- } -->

        
            <!-- Chat Footer -->
            <form [formGroup]="saveform" (submit)="sendMessage(); $event.preventDefault()">
            <div class="chat-footer d-flex">
                <input type="hidden" formControlName="message_sender" class="form-control" placeholder="Sender ID" >
                <input type="hidden" formControlName="message_reciever" class="form-control" placeholder="Receiver ID" >
                <textarea formControlName="message" class="form-control" placeholder="Type a message..." ></textarea>
                <button class="btn btn-primary ml-2 ms-2" >
                    <span class="material-icons">send</span>
                </button>
            </div>
            </form>
        </div>
        
        
    </div>
</div>
