<div class="receipt-container" style="z-index: 100050;">
    <div class="header">
        <!-- <img src="nlacaca.png" alt="Institution Logo" style="height: 60px; margin-bottom: 5px;">
        <h1><strong>Northern Luzon Adventist College Academy</strong></h1>
        <p>ARTACHO, SISON, PANGASINAN 2434</p> -->
        <h1><strong>Official Receipt</strong></h1>
    </div>

    <div class="image-info-container">
        <img src="{{students.proof_payment}}" alt="Payment Proof" class="proof-image">
        <div class="info">
            <p><strong>JRNL#:</strong> {{students.OR_number}}</p>
            <p><strong>Date:</strong> {{students.date_of_payment | date}}</p>
            <p><strong>LRN:</strong> {{students.LRN}}</p>
            <p><strong>Sender From:</strong> {{students.lname}} {{students.fname}} {{students.mname}}</p>
            <p><strong>Address:</strong> {{students.address}}</p>
            <p><strong>Description:</strong> {{students.description}}</p>
            <p><strong>Total Amount Paid:</strong> ({{students.amount_paid}})</p>
        </div>
    </div>

    <div class="button-container">
        <button class="btn btn-primary" (click)="approveReceipt(students.LRN)">Approve</button>
    </div>
</div>
