<div class="banner">
  <div class="text-content">
    <div class="date">{{ currentDate | date: 'EEEE, MMMM d, y' }}</div>
    <h1 class="welcome-message">Welcome back, DSF!</h1>
    <p class="subtext">Always stay updated in your student portal</p>
  </div>
  <div class="illustration">
    <!-- Placeholder for the 3D illustration -->
    <img src="sams.png " alt="Illustration">
  </div>
</div>



<!-- Wrap the "PENDING ENROLLEES" text and buttons in the same flex container -->
<section>
  <div class="example-button-row">
    <!-- Add text within the button row container -->
    <p class="pending-text">PENDING ENROLLEES</p>
    <button class="pending-button" [routerLink]="['/main-page/enrollees/homepage/pending']">PENDING</button>
    <button class="approved-button" [routerLink]="['/main-page/enrollees/homepage/approve']">APPROVED</button>
  </div>
</section>

  

  <div class="search-bar">
    <input type="text" id="search-input" placeholder="Search..." [(ngModel)]="keyword">
    <!-- <button type="submit">Search</button> -->
  </div>   

  <div class="table-container">
      <table class="styled-table">
          <thead>
              <tr>
                  <th>LRN</th>
                  <th class="col-md-2">NAME</th>
                  <th>CONTACT NO.</th>
                  <th>GRADE LEVEL</th>
                  <th >ENROLLMENT DATE</th>
                  <th>TUITION FEE</th>
                  <th>PAYMENT</th>
                  <th>DATE OF PAYMENT</th>
                  <th>BALANCE</th>
                  <!-- <th>ACTION</th> -->
              </tr>
          </thead>
          <tbody>
              <!-- @for(enrollments of getFilteredEnrollments() | searchFilter: keyword; track enrollments){ -->
              <!-- @for(c of getFilteredEnrollment() | searchFilter: keyword; track c.LRN) { -->
              @for(c of students | searchFilter: keyword; track c.LRN) {
              <!-- @for(c of students; track c.LRN) { -->
                  <tr>
                      <td>{{ c.LRN }}</td>
                      <td class="col-md-2 text-primary text-hover" (click)="Modal(c.LRN)">{{ c.lname}}, {{ c.fname}} {{ c.mname}} {{ c.suffix}}</td>
                      <td>{{ c.contact_no }}</td>
                      <td>{{ c.grade_level }}</td>
                      <td >{{ c.date_register | date}}</td>
                      <td>{{ c.tuition | currency: 'PHP':'symbol' }}</td>
                      <td>
                      {{ c.amount_paid | currency: 'PHP':'symbol' }}
                      <!-- <img style="width: 50px; height: 50px;" src="{{c.proof_payment}}" alt="image"> -->
                      </td>
                  
                      <td>{{ c.date_of_payment | date }}</td>
                      <td>{{ c.remaining_balance | currency: 'PHP':'symbol' }}</td>
                      <!-- <td> -->
                          <!-- <i class="fa fa-eye" [routerLink]="['/main-page/enrollees/homepage/viewdetails']"></i>
                          <i class="fa fa-thumbs-up"></i> -->
                          
                                  <!-- <button mat-fab aria-label="Example icon button with a delete icon">
                                    <mat-icon>check</mat-icon>
                                  </button> -->
                      <!-- </td> -->

                      <!-- [routerLink]="['/main-page/enrollees/homepage/view']" -->
                       
                  </tr>
              }
          </tbody>
      </table>
  </div>
<!-- </div> -->
