<div class="student-account">
    <p class="h4">ENROLLEES APPROVAL</p>
    <div class="search-bar">
        <input type="text" id="search-input" placeholder="Search...">
        <button type="submit">Search</button>
    </div>
    <div class="table-container">
      <table class="styled-table">
        <thead>
          <tr>
            <th>LRN</th>
            <th>NAME</th>
            <th>CONTACT #</th>
            <th>GRADE LEVEL</th>
            <th>ENROLLMENT DATE</th>
            <th>TUITION</th>
            <th>PAYMENT</th>
            <th>DATE OF PAYMENT</th>
            <th>BALANCE</th>
            <th>ACTION</th>
          </tr>
        </thead>
        <tbody>
          @for(c of student; track c.student) {
            <tr>
              <td>{{ c.LRN }}</td>
              <td>{{ c.Name }} {{ c.suffix }}</td>
              <td>{{ c.contact_no }}</td>
              <td>{{ c.GRADELEVEL }}</td>
              <td>{{ c.date_register }}</td>
              <td>{{ c.Fees }}</td>
              <td class="text-primary text-hover" (click)="modals()">{{ c.amount_paid }}</td>
              <td>{{ c.date_of_payment }}</td>
              <td>{{ c.Total }}</td>
              <td>
                <i class="fa fa-eye" (click)="views()"></i>
                <i class="fa fa-thumbs-up"></i>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
</div>
